
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: center;
    padding: 15px 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 27px;
    
}



.navbar .nav-links {
    display: flex;
    list-style: none;
    align-self: center;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}


.hero {
    position: relative;
    height: 450px;
    background-color: #ccc;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
}

.carousel-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.carousel-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-content button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Sección de productos */
.productos {
    padding: 70px;
    background-color: #f9f9f9;
}

.productos h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.producto-lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1); 
    
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 


.producto img {
    width: 100%;
    border-radius: 5px;
    max-width: 180px; /* Tamaño máximo para que todas las imágenes sean iguales */
    height: 190px;    /* Altura fija para que las imágenes mantengan uniformidad */
    object-fit: cover; /* Cubre el área asignada sin deformar la imagen */
    border-radius: 5px;
}

.producto p {
    margin: 10px 0;
}

.producto button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.producto button:hover {
    background-color: #e55a00;
}

.image-section {
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.image-section img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la pantalla */
    height: auto;
    display: block;
    max-height: 500px; /* Ajusta esta altura máxima si lo necesitas */
    object-fit: cover;
    margin: 0;
}

.image-section p {
    font-size: 1.1rem;
    color: #333;
    margin-top: 10px;
    padding: 0 15px; /* Margen para mejorar la legibilidad */
}








.hero2 {
    position: relative;
    height: 350px;
    background-color: #ccc;
    overflow: hidden;
}

.carousel2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-content2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
}

.carousel-content2 h2 {
    font-size: 48px;
    margin-bottom: 10px;
}



